[package]
name = "cardano-serialization-lib"
version = "4.0.0"
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]

cryptoxide = "0.2.0"
cbor_event = "2.1.3"
wasm-bindgen = { version = "0.2", features=["serde-serialize"] }
curve25519-dalek = "1"
ed25519-dalek = "1.0.0-pre.1"
ed25519-bip32 = "0.3.1"
sha2 = "^0.8"
digest = "^0.8"
bech32 = "0.7.2"
hex = "0.4.0"
js-sys = "0.3.24"
rand_os = { version = "0.1", features = ["wasm-bindgen"] }
cfg-if = "0.1"
linked-hash-map = "0.5.3"
serde_json = "1.0.57"

# The default can't be compiled to wasm, so it's necessary to use either the 'nightly'
# feature or this one
clear_on_drop = { version = "0.2", features = ["no_cc"] }

[profile.release]
# Tell `rustc` to optimize for small code size.
opt-level = "s"

[dev-dependencies]
quickcheck = "0.9.2"
quickcheck_macros = "0.9.1"
rand_os = "0.1"
rand_chacha = "0.1"
